{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block admin-title %}{% endblock %}</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static 'admin/css/sb-admin.css' %}" rel="stylesheet">
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/python-13-555725.png"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/personal.css' %}"/>

</head>

<body class="bg-dark">

  <div class="container">
      {% block admin-body %}{% endblock %}
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'admin/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

</body>

</html>